mat-icon {
  color: #ddd;
  margin-right: 0px !important;
}

.flex {
  display: flex;
}

.center {
  justify-content: center;
  align-items: center;
}

mat-card {
  background-color: #a8532e;
  margin: 10px;
  color: #ddd;
  min-width: 90px;
}

.inner-card {
  background-color: #361623;
  margin: 5px;
  padding: 5px;
  color: #ddd;
  min-width: 90px;
  height: 100%;
}

mat-progress-bar {
  padding-left: 10px;
  padding-right: 10px;
  height: 5px;
  margin-bottom: 5px;
  max-width: 90%;
  // height: 10%;
}

.margin-left-1em {
  margin-left: 1em;
}

.margin-left-quarterem {
  margin-left: .25em;
}

mat-card-title {
  color: #ddd;
}

.size-xxl {
  transform: scale(3);
}

.row {
  flex-direction: row;
}

.overflow-hidden {
  overflow: hidden;
}

.padding-10 {
  padding: 10px;
}

mat-icon:hover {
  cursor: pointer;
}

.font-color {
  color: #ddd
}
