mat-card {
  background-color: #646472;
  margin: 10px;
  padding: 10px;
  color: #ddd;
  min-width: 90px;
}
mat-card-title {
  color: #ddd;
}
mat-icon:hover {
  cursor: pointer;
}
mat-icon {
  color: #ddd;
  margin-right: 0px !important;
}
.font-color {
  color: #ddd
}
